.tag {
  display: block;
  padding: 10px 15px;
  background: #ffc40e;
  cursor: pointer;
  font-size: 20px;

  &:not(&_checked):hover {
    background: rgba(255, 196, 14, 0.85);
  }

  &_checked {
    background: rgba(201, 38, 232, 0.85);
  }

  &__input {
    position: absolute;
    visibility: hidden;
  }
}