.textarea {
  &__label {
    display: block;
    margin-bottom: 8px;
    font-size: 22px;
  }

  &__input {
    width: 100%;
    min-height: 120px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
    font-size: 18px;

    &:focus {
      border-color: rgba(255, 196, 14, 0.85);
    }
  }
}